/* Global styles */
html {
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

/* Light mode */
.text-light {
  color: #222; /* Darker text for readability */
}

/* Dark mode */
.dark .text-light {
  color: #ddd; /* Softer contrast for readability */
}

.dark .text-bold {
  font-weight: 700;
}

/* Fix navbar links */
.nav-link {
  transition: color 0.3s ease;
}

.dark .nav-link {
  color: white;
}
